services:
  - type: web
    name: lpu-backend
    env: node
    plan: free
    repo: https://github.com/SANJANA208-bit/lpu-smart-energy-monitor
    branch: main
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: NODE_ENV
        value: production
